* {
    padding: 0;
    margin: 0;
}

header {
    padding: 80px 100px;
}
main {
    padding: 5px 5px;
}
footer {
    padding: 150px 5px;
}

body {
    background-image: url("./images/background_0.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: whitesmoke;
    text-align: center;
}

.h2 {
    color: whitesmoke;
    padding: 5px 0px 10px 5px;
}

.in p {
    padding: 5px 0px 0px 10px;
}

.in select {
    padding: 10px 0px 10px 5px;
    margin: 0px 0px 50px 5px;
    background-color: lavenderblush;
    border-radius: 12px;
    cursor: pointer;
}
.in {
    display: flex;
    justify-content: space-around;
}

.out button {
    position: relative;
    background-color: #32bafd;
    border: none;
    font-size: 21px;
    color: #FFFFFF;
    padding: 13px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px;
}
.out button:after {
    content: "";
    background: #91e2e3;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.out button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.out {
    text-align: center;
}

.out p{
    padding: 10px;
    margin: 10px;
}